.background-image {
  background-image: url(./apps.55787.9007199266246365.687a10a8-4c4a-4a47-8ec5-a95f70d8852d.jpg);
  margin-top: 0px;
  height: 700px;
}
.head-text {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  justify-content: space-around;

  padding: 1px;
}
.Netflix-icon {
  justify-content: start;
  display: flex;
  align-items: start;
  width: 170px;
  height: 80px;
  margin: 20px;
  margin-left: 160px;
}

.subscribe {
  background-color: rgba(255, 255, 255, 0);
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: white;
  font-size: x-large;
  margin-bottom: 300px;
}
.subsribe-container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}
.email {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: beige;
  margin-top: 20px;
}
.email-content {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  height: 25px;
  height: fit-content;
  font-size: larger;
}
.Sign-in-Button {
  border-radius: 10px;
  width: 200px;
  background-color: #e50914;
  color: white;
  margin-right: 100px;
  height: fit-content;
  font-size: larger;
  margin-top: 35px;
  margin-left: 20px;
}
.select-options {
  background-color: rgba(255, 255, 255, 0);
  margin-left: 700px;
  width: 200px;
  border-radius: 22px;
  text-align: center;
  color: white;
  height: fit-content;
  font-size: larger;
  margin-top: 35px;
}
.get-started {
  background-color: #e50914;
  color: white;
  font-size: medium;
  height: fit-content;
  font-size: larger;
}

.subscribe-text {
  margin-top: 0px;
  margin-bottom: 10px;
}
/* dfor all hr lines between pages */
hr {
  height: 7px;
  background-color: gray;
  margin: 0px;
}
/* ?\page2 css */
.background-page2 {
  background-color: black;

  height: 600px;
}

.page2-container {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  height: 500px;
  font-size: larger;
  height: 100vh;
}

.page2-text {
  font-size: larger;
  margin-left: 20px;
  width: 400px;
  margin-bottom: 300px;
}
.page2-image {
  margin-bottom: 300px;
}

/* page 3 */
.background-page3 {
  background-color: black;

  height: 600px;
}
.page3-container {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;

  font-size: larger;
  height: 100vh;
}
.page3-text {
  font-size: larger;
  margin-left: 20px;
  width: 600px;
  margin-bottom: 200px;
}
.page3-image {
  margin-bottom: 300px;
}
/* page4 */
.page4-container {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  height: 500px;
  font-size: larger;
  height: 100vh;
}

.page4-text {
  font-size: larger;
  margin-left: 100px;
  width: 400px;
  margin-bottom: 400px;
}
.page4-image {
  margin-bottom: 300px;
  margin-left: 200px;
}
.background-page4 {
  background-color: black;

  height: 600px;
}
/* page 5 */
.background-page5 {
  background-color: black;

  height: 600px;
}
/* page 3 */

.page5-container {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;

  font-size: larger;
  height: 100vh;
}
.page5-text {
  font-size: larger;
  margin-left: 20px;
  width: 600px;
  margin-bottom: 300px;
}
.page5-image {
  margin-bottom: 300px;
}
